@import url('https://fonts.googleapis.com/css?family=Merriweather|Fira+Sans&display=swap');
.App{
  margin: 0 auto ;
  color: white;
  display: flex;

  
  
}
body{
  background-color:#203647 ;
  
}
 

.below{
  margin: 0 auto ;
  color: white;
  width: 200px;
  align-items: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  
}
.column{
  width: 50 px;
  color: aliceblue;
  text-align: right;
  padding: 50px;
  margin-top:50px;
  display: flex;
  justify-content: space-between;
  font-family: "Merriweather", sans-serif;
  font-size: larger;
  transform:translate(0%,0%);
  

  
  
}
.time{
  margin-right: -600px;
  color:#a79e84;

}
.Date{
  margin-right: -600px;
  color:#a79e84;
}

.search-box{
  
  left:50%;
  transform:translate(-0%,20%);
  background:#34568b;
  height:40px;
  border-radius: 40px;
}

.search-txt{
  width:130px;
  margin-top: 8px;
  margin-left: 15px;
  background: #34568b;
  border-radius: 20px;
  
}
.search-btn{
  
  background:#40739e ;
}
.news{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  padding: 50px;
}
.imagenews{
  width:350px;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 100px;
  border: 8px solid #a79e84;
  
  

}
.titlenews{
  padding: 10px;
  margin-left: 200px;
  font-size: x-large;
  color:#a79e84;
  
}
.contentnews{
  padding: 20px;
  margin-top: -160px;
  margin-left: 600px;
  font-size:x-large;
  font-family: sans-serif;
  color:#a79e84;
  
}
.front{

  
  font-size: 30px;
  font-family: "Merriweather", sans-serif; ;
  color:  #a79e84;
}
.dot {
  height: 25px;
  width: 25px;
  margin-left: 70px;
  margin-top: -330px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
}
notes-page{
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
}
.notes-page header{
  min-width: 1320px;
  min-height: 100px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color:#a79e84;
 background-color: #12232E  ;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
.notes-page header .logo{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.order{
  display: flex;
  margin-right:100px ;
  font-size: small;
  color:#a79e84;

}
.Headnews{
 font-size:x-large ;
 color:#a79e84;
 display: flex;
 justify-content: center;
}